---
layout: default
title: Home
---

{% if page.lang == "en" %}

<!-- Featured
================================================== -->
<section class="featured-posts">
    <div class="section-title">
        <h2><span>Featured</span></h2>
    </div>
    <div class="row">

    {% for post in site.posts %}

        {% if post.featured == true %}
            
            {% if post.lang == "en" %}  

                {% include featuredbox.html %}
            
            {% endif %}
            
        {% endif %}

    {% endfor %}

    </div>
</section>

{% endif %}

<!-- Posts Index
================================================== -->
<section class="recent-posts">

    <div class="section-title">

        <h2><span>All Stories</span></h2>

    </div>

    <div class="row listrecent">
<!-- Aqui eu estabeleco para o for somente percorrer os posts com lang=en no frontmatter, entao seleciono somente uma quantidade especifica para ficar
    na pagina index principal, pois se ficar todos os posts a tendencia eh ficar muito lento. Isso eh uma gambiarra porque eu nao consegui ainda
    adicionar a paginacao para as paginas em ingles, por conta da limitacao da subida do plugin.
================================================== -->
        {% assign posts_en = site.posts | where:"lang","en" %}
        <!---limitado somente a 6 posts na pagina inicial -->
        {% for post in posts_en limit:6 %}

        {% if post.featured != true %}
            
        {% include postbox.html %}
            
        {% endif %}

    {% endfor %}

    </div>

</section>

<!-- Pagination
================================================== -->
<div class="bottompagination">
<div class="pointerup"><i class="fa fa-caret-up"></i></div>
<span class="navigation" role="navigation">
    {% include pagination.html %}
</span>
</div>

