---
layout: default
disqus: false
archive: false
post_class: post-template
---

<!-- Begin Article
================================================== -->
<div class="container">
    <div class="row">

        <!-- Post Share -->
        <!-- comentei !-->
         <div class="col-md-2 pl-0">
           <!-- {% include share.html %} !-->
        </div>
        

        <!-- Post -->
        {% assign author = site.authors[page.author] %}

        <div class="col-md-9 flex-first flex-md-unordered">
            <div class="mainheading">

                <!-- Author Box -->
                {% if page.author %}
                <div class="row post-top-meta">
                    <div class="col-xs-12 col-md-3 col-lg-2 text-center text-md-left mb-4 mb-md-0">
                        {% if author.avatar %}
                        <img class="author-thumb" src="{{site.baseurl}}/{{ author.avatar }}" alt="{{ author.display_name }}">
                        {% else %}
                        <img class="author-thumb" src="https://www.gravatar.com/avatar/{{ author.gravatar }}?s=250&d=mm&r=x" alt="{{ author.display_name }}">
                        {% endif %}
                    </div>
                    <div class="col-xs-12 col-md-9 col-lg-10 text-center text-md-left">
                      {% if page.lang == "en" %}
                      <a target="_blank" class="link-dark" href="{{site.baseurl}}/{{ page.lang }}/{{ author.web }}">{{ author.display_name }}</a><a target="_blank" href="{{ author.twitter }}" class="btn follow">Follow</a>
                      <span class="author-description">{{ author.description-en }}</span>
                      {% else %}
                    <a target="_blank" class="link-dark" href="{{site.baseurl}}/{{ author.web-br }}">{{ author.display_name }}</a><a target="_blank" href="{{ author.twitter }}" class="btn follow">Seguir</a>
                    <span class="author-description">{{ author.description }}</span>
                     {% endif %}
                    </div>
                </div>
                {% endif %}

                <!-- Post Title -->
                <h1 class="posttitle">{{ page.title }} 
            
        <!-- laco que percorre todos os posts, e procura existe outra pagina com o mesmo id-ref, ou seja, se existe uma traducao -->
            {% if page.id-ref != "na" %} <!-- nao percorrer posts que nao tem id-ref no front matter!-->
                {% for post in site.posts %}
                    {% if post.title == page.title %} <!-- teste rapido para excluir post igual ao da pagina atual-->
                       {% continue %}
                    {% else %}
                       {% if post.id-ref == page.id-ref %} <!-- aqui testa se os id-ref sao iguais, caso seja, verificar em qual lingua a pagina esta para escolher o que mostrar ao usuario-->
                       <!-- usei essa linha como opcao para usar o arquivo recem criado _data/languages.yml mas o icone saiu muito feio, por isso nao usei
                            (<a class="link-dark" href="{{ post.url }}">{{ site.data.languages[post.lang].icon }}</a>)
                       !-->    
                            <a class="link-dark" href="{{ post.url }}"><img src=/assets/images/translate.svg width=18px heigth=18px style="vertical-align: top; margin: 11px 0px"></img><img src=/assets/images/seta.svg width=5px heigth=5px style="vertical-align: top; margin: 9px -2px"></img></a>
                           {% break %}
                       {% endif %}
                    {% endif %}
                {% endfor %}
            {% endif %}
            </h1>
            </div>

            <!-- Adsense if enabled from _config.yml (change your pub id and slot) -->
            {% if site.adsense == "enabled" %}
                {% include adsense-under-header.html %}
            {% endif %}
            <!-- End Adsense -->

            <!-- Post Featured Image -->
            {% if page.image %}

            {% if site.lazyimages == "enabled" %}
            <img class="featured-image img-fluid lazyimg" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAMAAAACCAQAAAA3fa6RAAAADklEQVR42mNkAANGCAUAACMAA2w/AMgAAAAASUVORK5CYII=" data-src="{% if page.image contains "://" %}{{ page.image }}{% else %}{{ site.baseurl }}/{{ page.image }}{% endif %}" alt="{{ page.title }}">
            {% else %}
            <!-- Alteracao para chamar o caption de uma figura, caso exista. ideal para chamar referencias para imagem inicial. -->
           <center> <img src="{% if page.image contains "://" %}{{ page.image }}{% else %}{{ site.baseurl }}/{{ page.image }}{% endif %}" alt="{{ page.title }}"></center><center><em class="image-caption">{% if page.image-ref %}{{ page.image-ref }}{% else %} {% endif %}</em></center><p>
            
            {% endif %}

            {% endif %}
            <!-- End Featured Image -->

            <!-- Post Content -->
            <div class="article-post">
                <!-- Toc if any -->
                {% if page.toc %}
                    {% if page.beforetoc %}
                        <p><em>{{page.beforetoc}}</em></p>
                    {% endif %}
                    <div class="toc mt-4 mb-4 lead">
                        <h3 class="font-weight-bold">Summary</h3>
                        {% include toc.html html=content %}
                    </div>
                {% endif %}
                <!-- End Toc -->
                {{content}}
            </div>

            <!-- Rating -->
            {% if page.rating %}
            <div class="rating mb-4 d-flex align-items-center">
                <strong class="mr-1">Rating:</strong> {% include star_rating.html %}
            </div>
            {% endif %}

            <!-- Post Date -->
            <p>
            <small>
                <span class="post-date"><time class="post-date" datetime="{{ page.date | date:"%Y-%m-%d" }}">{{ page.date | date_to_string }}</time></span>           
                {% if page.last_modified_at %}
                (Updated: <time datetime="{{ page.last_modified_at | date_to_xmlschema }}" itemprop="dateModified">{{ page.last_modified_at | date: "%b %-d, %Y" }}</time>)
                {% endif %}
                </small>
            </p>

            <!-- Post Categories -->
            <div class="after-post-cats">
                <ul class="tags mb-4">
                    {% assign sortedCategories = page.categories | sort %}
                    {% for category in sortedCategories %}
                    <li>
                        <a class="smoothscroll" href="{{site.baseurl}}/categories#{{ category | replace: " ","-" }}">{{ category }}</a>
                    </li>
                    {% endfor %}
                </ul>
            </div>
            <!-- End Categories -->

            <!-- Post Tags -->
            <div class="after-post-tags">
                <ul class="tags">
                    {% assign sortedTags = page.tags | sort %}
                    {% for tag in sortedTags %}
                    <li>
                        <a class="smoothscroll" href="{{site.baseurl}}/tags#{{ tag | replace: " ","-" }}">#{{ tag }}</a>
                    </li>
                    {% endfor %}
                </ul>
            </div>
            <!-- End Tags -->

            <!-- Prev/Next -->
            <div class="row PageNavigation d-flex justify-content-between font-weight-bold">
            {% if page.previous.url %}
            {% if page.previous.lang == page.lang %}
            <!-- atualizacao: modifiquei o codigo para mostrar artigos proximos ou anteriores da mesma lingua do artigo da pagina atual!-->
            <a class="prev d-block col-md-6" href="{{site.baseurl}}{{page.previous.url}}"> &laquo; {{page.previous.title}}</a>
            {% endif %}
            {% endif %}
            {% if page.next.url %}
            {% if page.next.lang == page.lang %}
            <a class="next d-block col-md-6 text-lg-right" href="{{site.baseurl}}{{page.next.url}}">{{page.next.title}} &raquo; </a>
            {% endif %}
            {% endif %}
            <div class="clearfix"></div>
            </div>
            <!-- End Categories -->

        </div>
        <!-- End Post -->

    </div>
</div>
<!-- End Article
================================================== -->

<!-- Begin Comments
================================================== -->
{% if page.comments != false %}
    <div class="container">
        <div id="comments" class="row justify-content-center mb-5">
            <div class="col-md-8">
                <!-- {% include disqus.html %} !-->
                {% include commento.html %}
              <!-- {% include commentbox.html %} !-->
            </div>
        </div>
    </div>
{% endif %}
<!--End Comments
================================================== -->

<!-- Review with LD-JSON, adapt it for your needs if you like, but make sure you test the generated HTML source code first: 
https://search.google.com/structured-data/testing-tool/u/0/
================================================== -->
{% if page.rating %}
<script type="application/ld+json">
{
  "@context": "http://schema.org/",
  "@type": "Review",
  "itemReviewed": {
    "@type": "Thing",
    "name": "{{ page.title }}"
  },
  "author": {
    "@type": "Person",
    "name": "{{ author.display_name }}"
  },
  "datePublished": "{{ page.date | date:"%Y-%m-%d" }}",
  "reviewRating": {
    "@type": "Rating",
    "ratingValue": "{{ page.rating }}",
    "bestRating": "5"
  }
}
</script>
{% endif %}
